<article class="service-entry">
  <form
    action="https://formspree.io/f/mvonynkp"
    method="POST"
    class="contact-form"
  >
    <label>
      <b>Name:</b>
      <input type="text" name="name" requried><br>
    </label>
    <label>
      <b>Company (Optional):</b>
      <input type="text" name="company"><br>
    </label>
    <label>
      <b>Email:</b>
      <input type="email" name="email" required><br>
    </label>
    <label>
      <b>Message:</b>
      <textarea name="message" required></textarea><br><br><br>
    </label>
    <button type="submit" class="button" title="Learn more">
      <span class="button-inner">
          Submit
      </span>
    </button>
  </form>
</article>